body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 10px;
  /*background-color: #fff;*/
  /*color: #444;*/
}

.box {
  background-color: lightgrey;
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
